div{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    Input{
    padding: 0.5em;
    margin: 1em;
    border: none;
    background: grey;
    color: black;
    }
    
    label{
    font-size: 1.3rem;
    text-transform: capitalize;
    }
